<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>C53FF261-9731-4121-BDE2-DDD14CC5A452</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06FC49D7-4A91-46FA-8B4C-0D7D2FC3A900</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FirePanther</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FPSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>fpsearch</string>
				<key>runningsubtext</key>
				<string>Sucht...</string>
				<key>script</key>
				<string>include '../workflows.php';
$q = "{query}";
include 'main.php';</string>
				<key>title</key>
				<string>Startet eine Datei-Contextsuche</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C53FF261-9731-4121-BDE2-DDD14CC5A452</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>06FC49D7-4A91-46FA-8B4C-0D7D2FC3A900</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06FC49D7-4A91-46FA-8B4C-0D7D2FC3A900</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C53FF261-9731-4121-BDE2-DDD14CC5A452</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
