<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D5067939-1E6C-47ED-AD6E-65E07156494B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B43950B9-B621-4CF2-84FF-D69776C7608E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0723B7C9-97DC-44FB-9314-CE09BA4E5513</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>In Quicklook anschauen</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FirePanther</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Maps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B43950B9-B621-4CF2-84FF-D69776C7608E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>maps</string>
				<key>runningsubtext</key>
				<string>Bitte warten...</string>
				<key>script</key>
				<string>include "../workflows.php";
$q = "{query}";
include "main.php";</string>
				<key>title</key>
				<string>Apple Maps</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D5067939-1E6C-47ED-AD6E-65E07156494B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>$q = "{query}";
include 'cmd.php';</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0723B7C9-97DC-44FB-9314-CE09BA4E5513</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0723B7C9-97DC-44FB-9314-CE09BA4E5513</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B43950B9-B621-4CF2-84FF-D69776C7608E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D5067939-1E6C-47ED-AD6E-65E07156494B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://firepanther.pro</string>
</dict>
</plist>
