<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pro.firepanther.clipboardHotkeys</string>
	<key>connections</key>
	<dict>
		<key>1482F2F0-D433-4C50-9874-B1F1316F2426</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4774865D-AA0F-4213-8346-B01393492D7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>22138D2D-7AC9-42A3-84C5-AE3571E5C2DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>390198CE-82FB-4180-9A16-E4588B0D7B80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1482F2F0-D433-4C50-9874-B1F1316F2426</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A955A02-9F75-4F44-944F-CA0E4525DD23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B2DC03A-0DD6-4676-913D-0C3BC2C4D16C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B79F6B3-BC8A-43D4-B5BC-DFD89A4DA461</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A345AE8-FADF-4C41-B93E-85400B459FD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4774865D-AA0F-4213-8346-B01393492D7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7D55C218-3307-42D9-BE99-B56F380F960B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>820507C7-C2D8-4303-9DA3-B866AF9A7D03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>834744F2-B3CC-4573-8D7C-AB04EB798BC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A818717D-7244-40E5-84DD-B19B44B07D47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1482F2F0-D433-4C50-9874-B1F1316F2426</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EAA62D75-5AA1-4B45-B1FE-F64B7E9F6B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FirePanther</string>
	<key>description</key>
	<string>Multiple Clipboards, also sends them to my iPhone</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>- Clipboard Hotkeys -</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>390198CE-82FB-4180-9A16-E4588B0D7B80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$skip = {query};
$sql = new SQLite3($_SERVER["HOME"]."/Library/Application Support/Alfred 2/Databases/clipboard.alfdb");
$stmt = $sql-&gt;prepare("SELECT item FROM clipboard ORDER BY ts DESC LIMIT {query}, 1;");
$result = $stmt-&gt;execute();
list($msg) = $result-&gt;fetchArray();
$msg = str_replace('\\', '\\\\', $msg);
$msg = str_replace('"', '\\"', $msg);
$msg = str_replace("'", "'\\''", $msg);
echo $msg;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1482F2F0-D433-4C50-9874-B1F1316F2426</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A818717D-7244-40E5-84DD-B19B44B07D47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7D55C218-3307-42D9-BE99-B56F380F960B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>834744F2-B3CC-4573-8D7C-AB04EB798BC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set the clipboard to "{query}"
tell application "System Events" to keystroke "v" using {command down}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4774865D-AA0F-4213-8346-B01393492D7F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>3</string>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3A955A02-9F75-4F44-944F-CA0E4525DD23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$nr = substr("{query}", 0, 1);
$cb = substr("{query}", 1);
if (!empty($cb)) {
	// copy
	$file = $_SERVER["HOME"]."/Dropbox/Configs/AlfredApp/clipboard-cache/".$nr;
	file_put_contents($file, $cb);
	echo $cb;
	exec('afplay /System/Library/Sounds/Bottle.aiff &gt; /dev/null 2&gt;&amp;1 &amp;');
	exec('ssh root@firephone "pbcopy \$(echo \"'.base64_encode($cb).'\" | base64 -d) &amp;&amp; play /firephone/sounds/Bottle.aiff"');
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set the clipboard to "{query}"
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5A345AE8-FADF-4C41-B93E-85400B459FD5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>4</string>
				<key>hotkey</key>
				<integer>118</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4B79F6B3-BC8A-43D4-B5BC-DFD89A4DA461</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$nr = "{query}";
// paste
$file = $_SERVER["HOME"]."/Dropbox/Configs/AlfredApp/clipboard-cache/".$nr;
if (file_exists($file)) {
	$cb = file_get_contents($file);
	$cb = str_replace('\\', '\\\\', $cb);
	$cb = str_replace('"', '\\"', $cb);
	$cb = str_replace("'", "'\\''", $cb);
	echo $cb;
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3B2DC03A-0DD6-4676-913D-0C3BC2C4D16C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>820507C7-C2D8-4303-9DA3-B866AF9A7D03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>3</string>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EAA62D75-5AA1-4B45-B1FE-F64B7E9F6B3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>4</string>
				<key>hotkey</key>
				<integer>118</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>22138D2D-7AC9-42A3-84C5-AE3571E5C2DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1482F2F0-D433-4C50-9874-B1F1316F2426</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>22138D2D-7AC9-42A3-84C5-AE3571E5C2DA</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>390198CE-82FB-4180-9A16-E4588B0D7B80</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3A955A02-9F75-4F44-944F-CA0E4525DD23</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>3B2DC03A-0DD6-4676-913D-0C3BC2C4D16C</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>4774865D-AA0F-4213-8346-B01393492D7F</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>4B79F6B3-BC8A-43D4-B5BC-DFD89A4DA461</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>5A20799F-7ACE-4E4C-86BE-753F41A4E17F</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>5A345AE8-FADF-4C41-B93E-85400B459FD5</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>7CFA0D1B-BEA1-4C23-8E2E-2BC522B9FC80</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>7D55C218-3307-42D9-BE99-B56F380F960B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>820507C7-C2D8-4303-9DA3-B866AF9A7D03</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>834744F2-B3CC-4573-8D7C-AB04EB798BC3</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>A818717D-7244-40E5-84DD-B19B44B07D47</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>EAA62D75-5AA1-4B45-B1FE-F64B7E9F6B3E</key>
		<dict>
			<key>ypos</key>
			<real>950</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>firepanther.pro</string>
</dict>
</plist>
