<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08CB5813-F3E4-4992-B916-01077B6D2041</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B9CF75D-2EC3-450D-B12D-DEAE006DE816</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>jQuery Dokumentation aktualisieren</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8352F43D-B19C-4B49-8934-F95870BD95F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B9CF75D-2EC3-450D-B12D-DEAE006DE816</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F34D82C4-2B0F-44F1-8E4A-4F8BD897F820</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FirePanther</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>jQuery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>include '../workflows.php';
$q = "{query}";
include 'update.php';</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B9CF75D-2EC3-450D-B12D-DEAE006DE816</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F34D82C4-2B0F-44F1-8E4A-4F8BD897F820</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>$</string>
				<key>script</key>
				<string>include '../workflows.php';
$q = "{query}";
include 'main.php';</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>08CB5813-F3E4-4992-B916-01077B6D2041</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8352F43D-B19C-4B49-8934-F95870BD95F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08CB5813-F3E4-4992-B916-01077B6D2041</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4B9CF75D-2EC3-450D-B12D-DEAE006DE816</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8352F43D-B19C-4B49-8934-F95870BD95F0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F34D82C4-2B0F-44F1-8E4A-4F8BD897F820</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
