<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>B9CC14CA-F635-4710-8A64-03069D071DA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6BB234E-FEB5-4AC3-9A8A-650DF5A8C730</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FirePanther</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wiktionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D6BB234E-FEB5-4AC3-9A8A-650DF5A8C730</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>lex</string>
				<key>runningsubtext</key>
				<string>Lädt...</string>
				<key>script</key>
				<string>include '../workflows.php';

$cx = '011757805789736420580:xtjvjliwtny';
$key = 'AIzaSyBd5CpQrFEz1WMf121EH9haU8B_P60biWE';

$q = "{query}";
include 'main.php';</string>
				<key>title</key>
				<string>Wiktionary durchsuchen</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9CC14CA-F635-4710-8A64-03069D071DA7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B9CC14CA-F635-4710-8A64-03069D071DA7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D6BB234E-FEB5-4AC3-9A8A-650DF5A8C730</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
